@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

.bg-grad {
  background: linear-gradient(90.33deg, #2E54DC 0.2%, #00AE84 81.91%);
}

.bg-grey {
  background: #E8F2FF;
}

.bg-grey410 {
  background: #E8F2FF;
  height: 410px;
}

.bg-grey715 {
  background: #E8F2FF;
  height: 715px;
}

.bg-green {
  background: #00AE84;
}

.bg-green-ex {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: #00AE84;
}

.bg-footer {
  background: #F8F8F8;
}

.bg-second {
  background: #EFEFEF;
}

.bg-none {
  background: none;
}

.zi-1 {
 z-index: 1;
}

.green-square-below, .green-square-top {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
}

.green-square-below {
  background: #07E0AC;
  transform: translateY(40px);
}

.green-square-top {
  background: #00AE84;
  opacity: .7;
  transform: translate(30px, 70px);
}

.img-back {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}

.img-doctor {
  display: inline;
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-client {
  width: 135px;
}

.main-title {
  font-size: 54px;
  line-height: 48px;
  font-weight: bold;
  color: white;
  text-shadow: #00AE84 1px 0 0px, #00AE84 0 1px 0px, #00AE84 -1px 0 0px, #00AE84 0 -1px 0px;
}

.main-text {
  color: #6D6D6D;
  font-style: italic;
  margin-top: -25px;
}

.main-button {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 25px;
  border: 1px solid white;
  font-weight: bold;
}

.main-button:hover, .contact-button:hover {
  color: white;
}

.py-100p {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-150p {
  padding-top: 150px;
}

.pt-220p {
  padding-top: 220px;
}

.pl-70p {
  padding-left: 70px;
}

.pr-210p {
  padding-right: 210px;
}

.mt-70p {
  margin-top: 70px;
}

.mt-100p {
  margin-top: 100px;
}

.my-90p {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mb-40p {
  margin-bottom: 40px;
}

.mb-70p {
  margin-bottom: 70px;
}

.mb-n80p {
  margin-bottom: -80px;
}

.px-300p {
  padding-right: 300px;
  padding-left: 300px;
}

.iw-48p {
  width: 48px;
}

.iw-58px {
  width: 58px;
  height: 58px;
}

.w-365p {
  max-width: 365px;
}

.w-165p {
  width: 165px;
  height: 150px;
}

.fs-48p {
  font-size: 48px;
}

.border-grey {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.border-none {
  border: none;
}

.card-active {
  background: linear-gradient(318.01deg, #008FAE 2.15%, #00AE84 97.42%);
  color: white;
}

.contact-form {
  box-shadow: 0px 0px 25px 0px #00000026;
  background: white;
  max-width: 635px;
  padding: 75px 45px;
}

.contact-input {
  padding: 25px;
  font-size: 16px;
  line-height: 16px;
  background: #F6F7FB;
  border: 1px solid #B4B4B4;
}

.contact-input-b::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: #0E97FB;
}

.contact-button {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 25px;
  font-weight: bold;
  background: linear-gradient(93.44deg, #0E97FB 11.31%, #00AE84 100%);
}

.arrow-right {
  transform: rotate(180deg);
}

.footer-link {
  color: #6D6D6D;
  display: block;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer-link:hover {
  color: #6D6D6D;
}

.cl-grey {
  color: #6D6D6D;
}

.cl-white {
  color: white;
}

.cl-black {
  color: black;
}

@media screen and (max-width: 991px) {
  .img-back, .img-doctor {
    display: none;
  }

  .main-text {
    margin-top: 50px;
  }

  .mt-100p {
    margin-top: 150px;
  }

  .bg-green-ex {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .pl-70p {
    padding-left: 25px;
  }

  .pr-210p {
    padding-right: 25px;
  }

  .mt-100p {
    margin-top: 200px;
  }

  .main-title {
    font-size: 30px;
    line-height: 26px;
  }

  .green-square-below, .green-square-top {
    width: 290px;
    height: 290px;
  }

  .bg-grey {
    height: 300px;
  }

  .contact-form {
    padding: 30px 15px;
  }
}